	:host {
	  display: block;
	}

  #component-list {
    /*
    position: absolute;
    right: 0;
    top: 50px;
    */
    height: auto;
    width: 200px;
    border: 1px solid #eee;
    box-sizing: border-box;
  }

  paper-item {
    display: block; 
    cursor: pointer;
  }

  paper-item:hover {
  }
  .component {
    margin-left: 30px;
  }
  .component .abrv {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5px;
    font-size: 1.2em;
    border: 1px solid #AAA;
    width: 33px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    color: #444;
   }
   .category {
    font-size: 18px;
   }
   .category::before {
    content: '\02C3';
    margin-right: 5px;
    font-size: 20px;
    display: inline-block;
    vertical-align: bottom;
    width: 10px;
    padding: 0 7px;
    height: 15px;
   }
